{{>headerEstudiantes}}
<div id= "formulario_registro">
    <h1 id= "registro_est">Cursos</h1><br>
    {{#if cursos_disponibles}}
        <table id = "tabla_cursos">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Costo</th>
                <th>Estado</th>
                <th>Acción</th>
                <th>Info</th>
            </tr>
        {{#each cursos_disponibles}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{descripcion}}</td>
                <td>{{costo}}</td>
                <td>{{estado}}</td>
                <form action="/inscripcion" method="GET">
                    <input type ="hidden" name="id" value="{{id}}"/>
                    <input type ="hidden" name="estudiante_id" value="{{../est.cedula}}"/>
                    <td><button id="boton_inscripcion">Inscribir</button></td>
                </form>
                <form action="/verMas" method="GET">
                    <input type ="hidden" name="id" value="{{id}}"/>
                    <td><button id="boton_inscripcion">Ver mas</button></td>
                </form>
            </tr>
        {{/each}}
        </table>
    {{else}}
    <h2 id= "registro_est">No hay cursos disponibles</h2><br>
    {{/if}}
</div>
{{>footer}}